# Data types-------------

1. Numeric Types
These types store numerical values.
2. Sequence Types
These types represent an ordered collection of items. Each item is identified by its index (starting from 0).
3. Set Types
These types represent an unordered collection of unique items. They are primarily used to perform mathematical set operations like union, intersection, difference, etc.
4. Mapping Type(dictionary)
5. Boolean Type
6. None Type
7. Binary Types (Bytes and Byte Arrays)
These are used to work with binary data.

# 2.Sequence types---------------------
* a.str (Strings):An immutable sequence of Unicode characters. Used to represent text.
Enclosed in single (' '), double (" "), or triple (''' ''' or """ """) quotes.
Examples: "Hello, World!", 'Python', '''Multi-line string'''

* b.list (Lists):A mutable, ordered sequence of items. Items can be of different data types.
Enclosed in square brackets [].
Examples: [1, 2, 3], ['apple', 'banana', 'cherry'], [1, 'hello', 3.14]

* c.tuple (Tuples):An immutable, ordered sequence of items. Items can be of different data types.
Enclosed in parentheses ().
Often used for fixed collections of items, especially for function returns.
Examples: (1, 2, 3), ('red', 'green', 'blue'), (1, 'a', True)

# a. string:------------------------------

üìå Bonus: Common String Methods (Not built-in, but very useful)
Method	Description	Example
.upper()	Converts to uppercase	
.lower()	Converts to lowercase	
.strip()	Removes surrounding spaces
.split()	Splits string into list	
.join()	    Joins list into string	
.replace()	Replaces substrings
.find() 	Finds index of substring

‚úÖ Python Built-in Functions for Strings
Function	Description	Example
len()	Returns the number of characters in a string	
str()	Converts a value to a string	
ord()	Returns ASCII/unicode of a character	
chr()	Returns character from ASCII/unicode number	
format()	Formats strings with variables	
repr()	Returns string with escape characters	       repr("Hi\n") ‚Üí "'Hi\\n'"
input()	Takes string input from user	               input("Name: ")
print()	Prints string output	                       print("Hello")
type()	Returns type of string	
eval()	Evaluates string as Python expression (‚ö†Ô∏è careful)	eval("3 + 4") ‚Üí 7
ascii()	Returns readable representation of non-ASCII text	ascii("√±") ‚Üí "'\\xf1'"

In [2]:
s='python'
print(max(s))
print(min(s))
print(type(s))
print(len(s))
print((s))
print(id(s))

y
h
<class 'str'>
6
python
2206730452208

In [3]:
s="Welcome hello hello welcome"
print(s.find("hello"))

8

In [8]:
print(s.find("hello",10,20))

14

In [5]:
print(s.index("Welcome"))

0

In [6]:
print(s.count("hello"))

2

In [4]:
s="I love python"
print(s.upper())

I LOVE PYTHON

In [5]:
print(s.lower())

i love python

In [3]:
s="I love python"
print(s.isalnum())

False

In [4]:
s="Ilovepython"
print(s.isalnum())

True

In [7]:
s="123Ilovepython"
print(s.isnumeric())

False

In [9]:
s="Welcome hello hello welcome"
print(s.startswith("hello"))

False

In [11]:
s="Welcome hello hello welcome"
print(s.startswith("W"))

True

In [12]:
s="Welcome hello hello welcome"
print(s.endswith("welcome"))

True

In [14]:
s="Welcome hello hello welcome"
print(s.isspace())

False

i.ord():-char to ascii.----------

In [1]:
print(ord(' '))

32

In [2]:
print(ord('5'))

53

In [3]:
print(ord('a'))

97

In [4]:
print(ord('A'))

65

In [5]:
x=ord('A')
print("ASCII value of 'A':",x)

ASCII value of 'A': 65

ii.char():-ascii to char.----------

In [16]:
# x
# print("Char of =65
# y=char('65')65:",y)

# join()-----------------
* The join() method is used to join (combine) a list of strings into a single string, using a separator.
* separator.join(iterable)
* separator: A string that will appear between each item.
* iterable: Typically a list or tuple of strings.
* iterable must be strings. If they are not, you'll get a TypeError.
* join() is your go-to method in Python when you need to combine a collection of strings into one string using a specific delimiter.

Join list of words with space-----------

In [5]:
l=['python','java','cpp','php']
x=' '.join(l)
print(x)

python java cpp php

In [6]:
# join with comma----------------
s='python'
x=','.join(s)
print(x)

p,y,t,h,o,n

In [11]:
s='python'
x='*'.join(s)
print(x)

p*y*t*h*o*n

In [21]:
l=['java','python','cpp','10','30',50]
x='*'.join(l)
print(x)

TypeError: sequence item 5: expected str instance, int found

In [9]:
# join without operator-------------------
l=['java','python','cpp','10','30','50']
x=''.join(l)
print(x)

javapythoncpp103050

In [16]:
l=[1,2,3,4,5,6,7]
print(str(l))

[1, 2, 3, 4, 5, 6, 7]

In [18]:
print('-'.join(str(l)))

[-1-,- -2-,- -3-,- -4-,- -5-,- -6-]

In [24]:
# All item in the list must be string if not, we will get error-----
l=[1,2,3,4,5,6]
print('-'.join(str(digits)for digits in l))

1-2-3-4-5-6

# <code>print('-'.join(str(digits) <span style="color:red; font-weight:bold;">for digits in l</span>))</code>

In [27]:
# Another way using map()
print("-".join(map(str, l)))

1-2-3-4-5-6

# split()-----------
* The split() method is used to break a string into a list of substrings, based on a separator (default is whitespace).
* string.split(separator, maxsplit)
* separator (optional) ‚Äì The delimiter to split by (default: any whitespace).
* maxsplit (optional) ‚Äì Maximum number of splits to do.
* üìå Things to Remember:
* The result of split() is always a list of strings.
* If the separator is not found, it returns a list with the original string.
* If you split an empty string, you'll get [''].

In [24]:
s="I love python language"
x=s.split()
print(x)

['I', 'love', 'python', 'language']

In [34]:
s="I love python language"
x=s.split(' ')
print(x)

['I', 'love', 'python', 'language']

In [38]:
# maxsplit-----
s='one two three fout five'
x=s.split(" ",2)
print(x)

['one', 'two', 'three fout five']

In [44]:
s='one\ntwo\nthree\nfout\nfive'
x=s.split("\n")
print(x)

['one', 'two', 'three', 'fout', 'five']

In [25]:
s="I love python language"
x=s.split('o')
print(x)

['I l', 've pyth', 'n language']

In [26]:
s="I love python language"
x=s.split('o',1)
print(x)

['I l', 've python language']

In [27]:
s="I love python language"
x=s.split('o')
y=s.split('a')
print(x)
print(y)
print(x,y)

['I l', 've pyth', 'n language']
['I love python l', 'ngu', 'ge']
['I l', 've pyth', 'n language'] ['I love python l', 'ngu', 'ge']

In [5]:
# If you split an empty string, you'll get [''].
s=""
x=s.split()
print(x)
# When using split() with no arguments, it splits by any whitespace and removes empty parts ‚Üí so you get an empty list [].

[]

In [7]:
s=""
x=s.split(',')
print(x)
# When we use a specific separator (like ","), Python assumes there is one item (even if empty) ‚Üí so we get [''].

['']

In [10]:
# üîÅ Opposite of split():
# Use "separator".join(list) to combine a list back into a string.
s=['python','cpp','java']
x=" ".join(s)
print(x)

python cpp java

In [14]:
s="I love python language"
x=s.split(None,-1)
print(x)

['I', 'love', 'python', 'language']

In [26]:
s="I love python language"
x=s.split('o',-1)
print(x)

['I l', 've pyth', 'n language']

# Key Use Cases for split():
* Parsing data: Breaking down lines from a file or user input into individual fields (e.g., CSV data).
* Tokenization: Separating a sentence into words.
* URL/Path manipulation: Breaking down URLs or file paths into components.
* Data extraction: Isolating specific pieces of information from a structured string.

# Mathematical operation in string----------(+,*)----------- 
* In Python, you cannot directly perform mathematical operations like addition or multiplication on strings as you would with numbers, but:
* Some operations are overloaded (have a special meaning) when used with strings.
* Only certain operations are allowed.
* 1. String Addition (+) ‚Üí Concatenation
  2. String Multiplication (*) ‚Üí Repetition
* ‚ùå Not Allowed: Subtraction, Division, etc.

In [28]:
# String Addition (+)
s1='python'
s2='java'
x=s1+s2
print(x)

pythonjava

In [29]:
# String Multiplication (*)
s1='python'
x=2
z=s1*x
print(z)

pythonpython

In [32]:
s1='python'
s2='java'
print(s1 is s2)

False

In [33]:
s1='python'
s2='java'
print(s1 is not s2)

True

In [27]:
# Combine with Numbers (after conversion)
num=5
text='Apples:'+str(num)
print(text)

Apples:5

In [29]:
# Using ord() and chr() for ASCII math
print(ord('A'))
print(chr(65+1))

65
B

# b.List:-Colection of elements-----------------------------

In [34]:
l1=[10,20,30]
l2=[10,20,30]
print(id(l1),id(l2))

1906329582464 1906329581184

# Both are different so, mutable----

# Python in built fn for list----------

In [2]:
l=[2,5,'java','php']
print(max(l))

TypeError: '>' not supported between instances of 'str' and 'int'

In [3]:
print(min(l))

TypeError: '<' not supported between instances of 'str' and 'int'

In [4]:
print(sum(l))

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [5]:
print(len(l))

4

In [6]:
print(type(l))

<class 'list'>

In [7]:
print(id(l))

1902010769152

In [8]:
l=[20,40,33,12,30]
print(max(l))

40

In [9]:
print(min(l))

12

In [10]:
print(sum(l))

135

In [11]:
l=['java','python','php','cpp']
print(max(l))

python

In [12]:
print(min(l))

cpp

In [13]:
print(sum(l))

TypeError: unsupported operand type(s) for +: 'int' and 'str'

# List in built method-----------------

In [ ]:
l=['10','20','30','40','java','cpp']
(l.append())
(l.clear())
(l.copy())
print(l.count())
(l.extend())
(l.index())
(l.insert())
(l.pop())
(l.remove())
(l.reverse())
(l.sort())

In [14]:
l.append(100)
print(l)

['java', 'python', 'php', 'cpp', 100]

In [15]:
l.append([1,2,3,4,'python'])
print(l)

['java', 'python', 'php', 'cpp', 100, [1, 2, 3, 4, 'python']]

In [16]:
l.clear()
print(l)

[]

In [22]:
l=['10','20','30','40','java','cpp']
l1=l.copy()
print(l1)
print(id(l),id(l1))

['10', '20', '30', '40', 'java', 'cpp']
1902011426816 1902011426048

differen address----

In [25]:
l=[1,2,3,44,2,5,2]
print(l.count(2))

3

count ko dirrect print(l.count()) kar sakte hai kyu ki structure me koi change nhi ho rha hai esiliye direct hit kar rhe hai.

In [29]:
l=[10,20,'python','java']
l.extend(1,2,3,4,5,6)
print(l)

TypeError: list.extend() takes exactly one argument (6 given)

In [30]:
l.extend([1,2,3,4,5,6])
print(l)

[10, 20, 'python', 'java', 1, 2, 3, 4, 5, 6]

In [32]:
l.extend((1,2,3,4,5,6))
print(l)

[10, 20, 'python', 'java', 1, 2, 3, 4, 5, 6, 1, 2, 3, 4, 5, 6]

In [33]:
l.extend('java')
print(l)

[10, 20, 'python', 'java', 1, 2, 3, 4, 5, 6, 1, 2, 3, 4, 5, 6, 'j', 'a', 'v', 'a']

In [48]:
l=[2,3,4,'python','java','php','10']
print(l.index(10))

ValueError: 10 is not in list

In [50]:
l=[2,3,4,'python','java','php','10']
x=l.insert(0,10)
print(x)

None

In [51]:
l=[2,3,4,'python','java','php','10']
l.insert(0,10)
print(l)

[10, 2, 3, 4, 'python', 'java', 'php', '10']

In [52]:
l.pop()
print(l)

[10, 2, 3, 4, 'python', 'java', 'php']

In [53]:
l.pop(0)

10

In [54]:
l.pop(0)
print(l)

[3, 4, 'python', 'java', 'php']

In [55]:
l.remove()
print(l)

TypeError: list.remove() takes exactly one argument (0 given)

In [57]:
l.remove('python')
print(l)

[3, 4, 'java', 'php']

In [58]:
l.reverse()
print(l)

['php', 'java', 4, 3]

In [59]:
l=[2,3,4,'python','java','php','10']
l.sort()
print(l)

TypeError: '<' not supported between instances of 'str' and 'int'

In [ ]:
l=['2','3','4','java','php','10']
l.sort()
print(l)

['10', '2', '3', '4', 'java', 'php', 'python']

# Mathematical Operation on list

* Members ship operator(in)
* Identity operator(is):-(Compare object identity)
* Comparision operator(==)
* addition(+)
* multiplication(*)
* Indexing and Slicing Operators: [] and [:]

In [2]:
#addition(+)
l=[2,5]
l1=[45,3]
print(l+l1)
# Here, the two lists are combined into one ‚Äî this is list concatenation.

[2, 5, 45, 3]

In [3]:
print(l-l1)
# In Python, the (-) (subtraction operator) is not supported between two lists. You can't subtract one list from another directly.

TypeError: unsupported operand type(s) for -: 'list' and 'list'

In [4]:
# multiplication(*)
print(l*2)
print(l1*5)
# In Python, using the * operator with a list and an integer performs list repetition, not multiplication of elements.

[2, 5, 2, 5]
[45, 3, 45, 3, 45, 3, 45, 3, 45, 3]

In [5]:
l=[0]
print(l*5)

[0, 0, 0, 0, 0]

In [13]:
# Indexing and Slicing Operators
l=[1,2,3,4,5,'java']
print(l[1])     
print(l[-1])    
print(l[1:5])

2
java
[2, 3, 4, 5]

In [6]:
l=[1,2,3,4,5]
print(6 in l)

False

In [1]:
print(2 in (1, 2, 3)) 
print(4 in {4, 5, 6})

True
True

In [7]:
print(5 not in l)

False

In [8]:
# check on the bassed of address.
l1=[1,2,3,4]
l2=[1,2,3,4]
print(l1 is l2)

False

In [9]:
# check on the bassed of value.
print(l1==l2)

True

* l1 == l2 checks if the values inside the lists are equal ‚Üí ‚úÖ True
* l1 is l2 checks if they are the same object in memory ‚Üí ‚ùå False
* Even though both lists look the same, they are stored at different memory locations.

# c.Tuple----------------

In [10]:
t=(1,2,3,'java','python')
print(t)
print(type(t))

(1, 2, 3, 'java', 'python')
<class 'tuple'>

python in build function in tuple:--------------

In [15]:
#for homogenous tuple(int data type)
t=(1,2,3,4,5)
print(max(t))
print(min(t))
print(sum(t))
print(len(t))
print(type(t))
print(t)
print(id(t))

5
1
15
5
<class 'tuple'>
(1, 2, 3, 4, 5)
3123340004544

In [14]:
#for homogenous tuple(string data type)
t=('java','python','cpp')
print(max(t))
print(min(t))
#print(sum(t))
print(len(t))
print(type(t))
print(t)
print(id(t))

python
cpp
3
<class 'tuple'>
('java', 'python', 'cpp')
3123339810112

In [5]:
#for Heterogeneous tuple
t=('java','python','cpp',1,2,3)
# print(max(t))
# print(min(t))
# print(sum(t))
print(len(t))
print(type(t))
print(t)
print(id(t))

6
<class 'tuple'>
('java', 'python', 'cpp', 1, 2, 3)
1634608003200

# Tuple in built method-----------------
* üîí Reminder: Tuples are immutable
So, these list methods DO NOT work on tuples:
1. .append()
2. .extend()
3. .remove()
4. .pop()
5. .sort()
6. .reverse()
* Since tuples are immutable, they support only a few built-in methods (much fewer than lists).
  1. index()
  2. count()

In [6]:
# Returns how many times 1 occurs.
t=(1,2,3,'java','python')
print(t.count(1))

1

In [7]:
# Returns index of first occurrence of 'java'
print(t.index('java'))

3

# Mathematical Operation on Tuple
  1. Membership Operators: in, not in
  2. Concatenation Operator: +
  3.  Repetition Operator: *
  4.  Comparison Operators: ==, !=, <, >, <=, >=
  5.  Indexing and Slicing Operators: [] and [:]

In [19]:
t1=[1,2,3,4]
t2=[5,2,6,8,9]
print(t1+t2)
print(t1*3)

[1, 2, 3, 4, 5, 2, 6, 8, 9]
[1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4]

In [23]:
print(t1 is t2)
print(t1 is not t2)

False
True
False

In [9]:
# Comparison Operators
t1=[1,2,3,4]
t2=[5,2,6,8,9]
print(t1==t2)

False

In [25]:
#membership Operator
print(1 in t)
print(10 not in t)

True
True

In [10]:
# Indexing and Slicing Operators
t = (10, 20, 30, 40)
print(t[1])     
print(t[-1])    
print(t[1:3])

20
40
(20, 30)

 # 4. Mapping Type(dictionary)
 * Collection of key value pair.
 * represented in {} with comma (,) seperated pairs.
 * key must be unique.
 * value may be duplicate.
 * sequential collection.
 * Indexing and slicing not supported.
 * mutable in nature.

In [1]:
d={'name':'suraj','age':21,'quali':'b.tech'}
print(d)
print(id(d))
print(type(d))

{'name': 'suraj', 'age': 21, 'quali': 'b.tech'}
2079462592512
<class 'dict'>

In [2]:
d={'name':'suraj','age':21,'quali':'b.tech','name':'rohan'}
print(d)
print(id(d))
print(type(d))

{'name': 'rohan', 'age': 21, 'quali': 'b.tech'}
2079463088192
<class 'dict'>

# python in build fn in dic

In [7]:
d={'x':10,'y':20,'Z':30}
print(max(d))
print(min(d))
# print(sum(d))
print(len(d))
print(type(d))
print(d)
print(id(d))
print(sorted(d))
s=(str(d))
print(s)

y
Z
3
<class 'dict'>
{'x': 10, 'y': 20, 'Z': 30}
1835904549120
['Z', 'x', 'y']
{'x': 10, 'y': 20, 'Z': 30}

In [14]:
d={'x':10,'y':20,10:30}
# print(max(d))
# print(min(d))
# print(sum(d))
print(len(d))
print(type(d))
print(d)
print(id(d))

3
<class 'dict'>
{'x': 10, 'y': 20, 10: 30}
2079518250688

In [10]:
d={2:10,4:20,10:30}
print(max(d))
print(min(d))
print(sum(d))
print(len(d))
print(type(d))
print(d)
print(id(d))

10
2
16
3
<class 'dict'>
{2: 10, 4: 20, 10: 30}
2079503292544

In [15]:
d={2:10,4:20,4:30}
print(max(d))
print(min(d))
print(sum(d))
print(len(d))
print(type(d))
print(d)
print(id(d))

4
2
6
2
<class 'dict'>
{2: 10, 4: 30}
2079518268544

# python in build mathod in dic

In [31]:
d={2:10,3:20,'10':5}
d1=d.copy()
print(d)
print(d1)
print(id(d),id(d1))
# mutable
# d.pop(2)
# print(d)
# d.popitem()
# print(d)
print(d.get(2))
print(d.keys())
print(d.values())
print(d.items())
# print(d.fromkeys(2))
# print(d.update(2))
# print(d.setdefault(2))

{2: 10, 3: 20, '10': 5}
{2: 10, 3: 20, '10': 5}
2079503224384 2079503223104
10
dict_keys([2, 3, '10'])
dict_values([10, 20, 5])
dict_items([(2, 10), (3, 20), ('10', 5)])

In [4]:
# print(d.fromkeys())
s='python'
# d=dict.fromkeys(s)
d1=dict.fromkeys(s,100)
print(d1)
# d1=dict.fromkeys(s,100)

{'p': 100, 'y': 100, 't': 100, 'h': 100, 'o': 100, 'n': 100}

In [16]:
d={'a':10,'b':20,'c':50}
x=d.setdefault('d',50)
print(x)
print(d)

50
{'a': 10, 'b': 20, 'c': 50, 'd': 50}

In [31]:
d={'a':10,'b':20,'c':50}
x=d.setdefault('c',5)
print(x)
print(d)

50
{'a': 10, 'b': 20, 'c': 50}

In [19]:
d.setdefault('a'==10,'b'==20,'c'==30)

TypeError: setdefault expected at most 2 arguments, got 3

In [20]:
d={'a':10,'b':20,'c':50}
d.update({'c':30})
print(d)

{'a': 10, 'b': 20, 'c': 30}

In [21]:
d.update({'d':30})
print(d)

{'a': 10, 'b': 20, 'c': 30, 'd': 30}

In [23]:
d.update({'a': 100, 'b': 200, 'c': 300, 'd': 300})
print(d)

{'a': 100, 'b': 200, 'c': 300, 'd': 300}

In [25]:
d={'a':10,'b':20,'c':50}
d.update({'w': 100, 'x': 200, 'y': 300, 'z': 300})
print(d)

{'a': 10, 'b': 20, 'c': 50, 'w': 100, 'x': 200, 'y': 300, 'z': 300}

In [26]:
d.clear()

In [27]:
print(d)

{}

In [28]:
print(id(d))

2762385041920

In [29]:
del(d)

In [30]:
print(d)

NameError: name 'd' is not defined

# mathematical opration in dictionary

In [34]:
d1={'a':10,'b':20,'c':50}
d2={'x':100,'y':200,'z':500}
# print(d1+d2)
print(d1*d2)

TypeError: unsupported operand type(s) for *: 'dict' and 'dict'

In [35]:
print(d1 is d2)

False

In [38]:
print('x'in d2)

False

In [40]:
print(d1==d2)

False

# 3. sets.
* collection of unique element.
* represent in {} with comma (,) seperated elements.
* unorderd collection.
* indexing not supported.
* slicing not supported.
* mutable in nature.

In [42]:
# mutable in nature
my_set={'python','java',10,45,10,22,22,'php'}
print(my_set)

{'python', 'java', 22, 10, 45, 'php'}

In [1]:
s1={10,20,30,40,50,}
print(type(s1))

<class 'set'>

In [2]:
print(max(s1))

50

In [3]:
print(sum(s1))

150

In [5]:
print(min(s1))

10

# mathod

In [11]:
s={10,20,30,40}
s.add(50)
print(s)

{40, 10, 50, 20, 30}

In [8]:

s={10,20,30,40}
s.update(50)
print(s)

TypeError: 'int' object is not iterable

In [7]:
s={10,20,30,40}
x=s.update([1,2,3])
print(x)

None

In [9]:
s={10,20,30,40}
s.update([1,2,3])
print(s)

{1, 2, 3, 40, 10, 20, 30}

In [10]:
s={10,20,30,40}
s.update('python')
print(s)

{'o', 'p', 40, 'n', 10, 'h', 20, 'y', 30, 't'}

In [12]:
s={10,20,30,40}
s.update([1,2,3])
print(s)

{1, 2, 3, 40, 10, 20, 30}

In [13]:
s.pop()
print(s)

{2, 3, 40, 10, 20, 30}

In [14]:
s.pop()
print(s)

{3, 40, 10, 20, 30}

In [20]:
s.pop()
print(s)
print(id(s))

{20}
2516449596960

In [21]:
s.pop()
print(s)
print(id(s))

set()
2516449596960

In [17]:
s.remove(40)
print(s)

KeyError: 40

In [18]:
s.remove(30)
print(s)

{10, 20}

In [19]:
s.discard(40)
print(s)

{10, 20}

In [22]:
s={10,'java','python',20,30,40}
s1=s.copy()

In [23]:
print(s)
print(s1)

{'java', 20, 40, 10, 'python', 30}
{'java', 20, 40, 10, 'python', 30}

In [24]:
print(id(s),id(s1))

2516449491008 2516450739360

In [25]:
s.clear()

In [26]:
print(s)

set()

In [27]:
del(s)

In [28]:
print(s)

NameError: name 's' is not defined

In [37]:
s1={1,2,3,4,5,6}
s2={1,20,30,5,8,9}
s1.union(s2)
print(s1.union(s2))
s1.intersection(s2)
print(s1.intersection(s2))
s1.difference(s2)
print(s1.difference(s2))
s1.symmetric_difference(s2)
print(s1.symmetric_difference(s2))
s1.intersection_update(s2)
print(s1)
print(s2)
# print(s1.intersection_update(s2))

{1, 2, 3, 4, 5, 6, 8, 9, 20, 30}
{1, 5}
{2, 3, 4, 6}
{2, 3, 4, 6, 8, 9, 20, 30}
{1, 5}
{1, 20, 5, 8, 9, 30}

In [38]:
s1={2,3,4,6}
s2={1,20,30,5,8,9}
s1.intersection_update(s2)
print(s1)

set()

In [39]:
s1={1,2,3,4,5,6}
s2={1,20,30,5,8,9}
s1.intersection_update(s2)
print(s1)
print(s2)

{1, 5}
{1, 20, 5, 8, 9, 30}

In [40]:
s1.symmetric_difference_update(s2)
print(s1)

{8, 9, 20, 30}

In [1]:
s1={2,3,4,6}
s2={1,20,30,5,8,9}
print(s1.isdisjoint(s2))

True

In [2]:
s1={1,2,3,4,5,6}
s2={1,20,30,5,8,9}
print(s1.isdisjoint(s2))

False

In [10]:
s1={1,2,3,4,5,6}
s2={1,2,4,5,6,8,20,30,44,9}
print(s1.issubset(s2))

False

In [11]:
s1={1,2,3,4,5,6}
s2={1,2,4,5,6,8,20,30,44,9}
print(s1.issuperset(s2))
print(s2.issuperset(s1))

False
False

# frozenset
* collection of unique elements.
* represented in frozenset() with comma(,) seperated.
* unorderd collection.
* indexing not supported.
* slicing not supported.
* immutable in nature.
* not mathod work

In [13]:
l=[2,3,4,5,6,7,'java','python']
fs=frozenset(l)
print(fs)
print(type(fs))

frozenset({2, 3, 4, 5, 6, 7, 'python', 'java'})
<class 'frozenset'>

In [16]:
# print(max(fs))
# print(min(fs))
# print(sum(fs))
print(type(fs))
print(id(fs))
print(fs)

<class 'frozenset'>
1990380624288
frozenset({2, 3, 4, 5, 6, 7, 'python', 'java'})

union()
intesection()
difference()
symmetric_defference()
issubset()
issuperset()
isdisjoint()
copy()

In [1]:
x=int()
print(x)

0

In [2]:
x=str()
print(x)

In [3]:
x=list()
print(x)

[]

In [4]:
x=tuple()
print(x)

()

In [5]:
x=dict()
print(x)

{}

In [6]:
x=set()
print(x)

set()

In [7]:
x=frozenset()
print(x)

frozenset()

In [9]:
x=''
print(type(x))

<class 'str'>

In [10]:
x=()
print(type(x))

<class 'tuple'>

In [11]:
x=[]
print(type(x))

<class 'list'>

In [12]:
x={}
print(type(x))

<class 'dict'>

# Typecasting:---(one data type to another data type)

In [15]:
# int to string
x=10
s=str(x)
print(s)
print(type(s))

10
<class 'str'>

In [16]:
# string into list
s='python' 
l=list(s)
print(l)
print(type(l))

['p', 'y', 't', 'h', 'o', 'n']
<class 'list'>

In [17]:
s1='python' 
s2='10' 
x=int(s2)
print(x)
print(type(x))

10
<class 'int'>

In [18]:
s='python'
l=set(s)
print(l)

{'t', 'p', 'o', 'h', 'n', 'y'}

In [19]:
s='python'
l=frozenset(s)
print(l)

frozenset({'t', 'p', 'o', 'h', 'n', 'y'})

# input():--(to take value from runtime.)

In [13]:
x=input("Enter 1st no.")
y=input("Enter 2nd no.")
print(type(x))

Enter 1st no. 8
Enter 2nd no. 6

<class 'str'>

In [23]:
x=int(input("Enter 1st no."))
y=int(input("Enter 2nd no."))
z=x+y
print(z)

Enter 1st no. 10
Enter 2nd no. 20

30

In [24]:
x=eval(input("Enter no.:"))
print(x)
print(type(x))

Enter no.: 10

10
<class 'int'>

In [27]:
x=eval(input("Enter no.:"))
print(x)
print(type(x))

Enter no.: [1,2,3,4,5]

[1, 2, 3, 4, 5]
<class 'list'>

# comment:--
* single line comment(# (ctrl+/))
* multiline comment(''' ''')

In [28]:
# single line comment

In [31]:
x='''this 
is
multiline
comment'''

In [32]:
'''
This is a multiline comment
using triple single quotes.
Python will ignore this.
'''

'\nThis is a multiline comment\nusing triple single quotes.\nPython will ignore this.\n'

# control statement:---

In [7]:
n=int(input("Enter a number:"))
if n>0:
    print("Number is positive")
print("thanks for visiting")

Enter a number: 4

Number is positive
thanks for visiting

In [8]:
n=int(input("Enter a number:"))
if n>0:
    print("Number is positive")
print("thanks for visiting")

Enter a number: -3

thanks for visiting

In [23]:
n=int(input("Enter a positive Integers:"))
if n%2==0:
    print("No. is even")
else:
    print("No. is odd")
print("thanks for visiting")

Enter a positive Integers: 9

No. is odd
thanks for visiting

In [18]:
n=int(input("Enter an Integers:"))
if n>0:
    print("No. is positive")
elif n<0 :
    print("No. is negative")
elif n==0:
    print("No. is Zero")
print("thanks for visiting")

Enter an Integers: 0

No. is Zero
thanks for visiting

In [1]:
n=int(input("Enter an Integers:"))
if n>0:
    print("No. is positive")
elif n<0 :
    print("No. is negative")
else:
    print("No. is Zero")
print("thanks for visiting")

Enter an Integers: 9

No. is positive
thanks for visiting

In [ ]:
# larger in three numbers:--
int(input("enter three integers:"))

# Iterative Statements in Python
*

In [6]:
n=int(input("Enter integer numbers:"))
i=1
while i<=n:
    print(i,end=',')
    i=i+1

Enter integer numbers: 20

1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,

In [7]:
s1='python'
s2='java'
s3='php'
print(s1,s2,s3)

python java php

In [8]:
s1='python'
s2='java'
s3='php'
print(s1,s2,s3,sep='')

pythonjavaphp

In [9]:
s1='python'
s2='java'
s3='php'
print(s1,s2,s3,sep=',')

python,java,php

In [10]:
print('welcome to my world')

welcome to my world

In [11]:
 n=int(input("Enter integer numbers:"))
i=1
while i<=n:
    if i<n:
        print(i,end=',')
    else:
        print(i)
    i=i+1

Enter integer numbers: 10

1,2,3,4,5,6,7,8,9,10

In [1]:
 n=int(input("Enter integer numbers:"))
i=1
while i<=n:
    if i<n:
        print(i,end='+')
    else:
        print(i,end='=')
    i=i+1

Enter integer numbers: 20

1+2+3+4+5+6+7+8+9+10+11+12+13+14+15+16+17+18+19+20=

In [7]:
 n=int(input("Enter integer numbers:"))
i=1
sum=0
while i<=n:
    sum=sum+i
    if i<n:
        print(i,end='+')
    else:
        print(i,end='=')
    i=i+1
print(sum)

Enter integer numbers: 20

1+2+3+4+5+6+7+8+9+10+11+12+13+14+15+16+17+18+19+20=210

In [1]:
 n=int(input("Enter integer numbers:"))
i=1
multi=1
while i<=n:
    multi=multi*i
    if i<n:
        print(i,end='*')
    else:
        print(i,end='=')
    i=i+1
print(multi)

Enter integer numbers: 20

1*2*3*4*5*6*7*8*9*10*11*12*13*14*15*16*17*18*19*20=2432902008176640000

* wap to print n natural no.
* wap to print sum of n natural no.
* wap to print multiplication of natural no.
* wap to print factorial of any natural no.
* wap to print n even no.
* wap to print even no. upto n natural no.
* wap to print odd no. upto n natural no.

In [2]:
n=int(input("Enter an integer no."))
i=1
while i<=n:
    if i<n:
        print(2*i,end=',')
    else:
        print(2*i)
    i=i+1

Enter an integer no. 45

2,4,6,8,10,12,14,16,18,20,22,24,26,28,30,32,34,36,38,40,42,44,46,48,50,52,54,56,58,60,62,64,66,68,70,72,74,76,78,80,82,84,86,88,90