# function

In [1]:
def fun_name():
    print("welcome to my world!")
fun_name()
print("welcome")
fun_name()

welcome to my world!
welcome
welcome to my world!

In [4]:
def fun_name():
    print("welcome to my world!")
# print(fun_name)
x=fun_name()
print(x)
print(x)
print(x*2)

welcome to my world!
None
None

TypeError: unsupported operand type(s) for *: 'NoneType' and 'int'

In [6]:
def fun_name():
    # print("welcome to my world!")
    return"welcome to my world!"
# print(fun_name)
x=fun_name()
print(x)
print(x)
print(x*2)

welcome to my world!
welcome to my world!
welcome to my world!welcome to my world!

In [7]:
#examle:-positional argument
def add(x,y):#this is parameter 
    z=x+y
    return z
a=int(input("enter 1st value:"))
b=int(input("enter 2nd value:"))
addition=add(a,b)#this is argument
print(addition)

enter 1st value: 3
enter 2nd value: 3

6

# relation b/w

In [8]:
#examle:-default argument
def add(x,y):
    z=x+y
    return z
a=int(input("enter 1st value:"))
b=int(input("enter 2nd value:"))
addition=add()
print(addition)

enter 1st value: 3
enter 2nd value: 3

TypeError: add() missing 2 required positional arguments: 'x' and 'y'

In [9]:
#examle:-default argument
def add(x=0,y=0):
    z=x+y
    return z
a=int(input("enter 1st value:"))
b=int(input("enter 2nd value:"))
addition=add()
print(addition)

enter 1st value: 3
enter 2nd value: 3

0

In [11]:
#examle:-default argument
def add(x,y):
    z=x+y
    return z
a=int(input("enter 1st value:"))
b=int(input("enter 2nd value:"))
# addition=add(a)
print(addition)
addition=add(a,b)
print(addition)

enter 1st value: 3
enter 2nd value: 3

0
6

In [12]:
#examle:-key_word argument
def add(x,y):
    z=x+y
    return z
a=int(input("enter 1st value:"))
b=int(input("enter 2nd value:"))
addition=add(y=a,x=b)
print(addition)

enter 1st value: 3
enter 2nd value: 3

6

In [14]:
def even(n):
    if n%2==0: 
        print("even")
    else:
        print("odd")
n=int(input("enter integer"))
even(n)

enter integer 3

odd

In [1]:
n=eval(input("enter any data types value"))
type(n)

enter any data types value 5

int

In [8]:
n=eval(input("enter any data types value"))
print(type(n))
if type(n)==int:
    print("integer")
elif type(n)==str:
    print("string")
elif type(n)==tuple:
    print("tuple")
elif type(n)==set:
    print("set")
elif type(n)==bool: 
    print("boolean")
else: 
    print("others data types")

enter any data types value True

<class 'bool'>
boolean

In [9]:
value=eval(input("enter value:"))
x=type(value)
if x==int:
    print("integer")
elif x==str:
    print("string")

enter value: 'l'

string

In [10]:
def add(*args):
    print(args)
    print(type(args))
add()
add(5)
add(5,1)
add(1,2,3)

()
<class 'tuple'>
(5,)
<class 'tuple'>
(5, 1)
<class 'tuple'>
(1, 2, 3)
<class 'tuple'>

<!-- 4. variable length argument:--->

# 4. variable length argument:-

In [11]:
def add(*args):
    sum=0
    for i in args: 
        sum=sum+i
    print(sum)
add(1,2,3,4,5)

15

In [1]:
def add(*args):
   print(args)
   print(type(args))
add(x)
x=eval(input("enter 1st values:"))

NameError: name 'x' is not defined

In [17]:
x=eval(input("enter 1st values:"))
y=eval(input("enter 2nd values:"))
def add(*args):
   print(args)
   print(type(args))
add(x,y)

enter 1st values: (1,2,34,5)
enter 2nd values: (1,2,3,4,5)

((1, 2, 34, 5), (1, 2, 3, 4, 5))
<class 'tuple'>

In [ ]:
def add(*args):
    sum=0
    for i in args:
        for j in i:
            sum=sum+j
    print(sum)

x=eval(input("enter values:"))
add(x)

# 5. variable-length keyword argument:-

In [23]:
def my_data(**kwargs): 
    print(kwargs)
    print(type(kwargs))
my_data(x=10,y=20,z=30,p=40)

{'x': 10, 'y': 20, 'z': 30, 'p': 40}
<class 'dict'>

In [28]:
d={'x':10,'y':20,'z':30}
for k,v in d.items():
    print("key is:=",k,"value is:=",v)

key is:= x value is:= 10
key is:= y value is:= 20
key is:= z value is:= 30

In [11]:
def fun_name(**kwargs): 
    print(kwargs)
    # for k,v in kwargs.items(): 
        # print(k,'=',v)
# fun_name(x=10,y=20,z=30) 
x=eval(input("enter data:"))
fun_name(**x)

enter data: {'x': 10, 'y': 20, 'z': 30, 'p': 40}

{'x': 10, 'y': 20, 'z': 30, 'p': 40}

In [14]:
def fun_name(**kwargs): 
    print(kwargs)
    for k,v in kwargs.items(): 
        print(k,'=',v)
# fun_name(x=10,y=20,z=30) 
x=eval(input("enter data:"))
fun_name(**x)

enter data:  {'x': 10, 'y': 20, 'z': 30, 'p': 40}

{'x': 10, 'y': 20, 'z': 30, 'p': 40}
x = 10
y = 20
z = 30
p = 40

In [15]:
def example(a,b=10,*c,d,e='php',**f):
    print(a)
    print(b)
    print(c)
    print(d)
    print(e)
    print(f)
example(5,6,7,8,d=9,x=10,y=20,z=30)

5
6
(7, 8)
9
php
{'x': 10, 'y': 20, 'z': 30}

In [17]:
def example(b=10,*c,a,d,e='php',**f):
    print(a)
    print(b)
    print(c)
    print(d)
    print(e)
    print(f)
example(5,6,7,8,d=9,x=10,y=20,z=30)

TypeError: example() missing 1 required keyword-only argument: 'a'

# higher-order function:-

In [1]:
# map()
l=[1,2,3,4,5]
def sqr(n):
    return n**2
result=map(sqr,l) 
print(result)
print(tuple(result))

<map object at 0x0000020731B7C5E0>
(1, 4, 9, 16, 25)

In [2]:
l=[1,2,3,4,5]
def add(n): 
    return(n+5)
result=map(add,l)
print(result)
print(tuple(result))

<map object at 0x0000020731C9A200>
(6, 7, 8, 9, 10)

In [4]:
l=[1,2,3,4,5]
def sqr_root(n):
    return(n**0.5)
result=map(sqr_root,l)
print(result)
print(list(result))

<map object at 0x0000020735008B50>
[1.0, 1.4142135623730951, 1.7320508075688772, 2.0, 2.23606797749979]

In [3]:
# filter
l=[1,2,3,4,5]
def even_no(n): 
    if n%2==0: 
        return n
result=filter(even_no,l)
print(result)
print(list(result))

<filter object at 0x0000020734EFA980>
[2, 4]

In [5]:
l=[1,2,3,4,5]
def even_no(n): 
    if n%2==0: 
        return n
result=map(even_no,l)
print(result)
print(list(result))

<map object at 0x0000020734F2E710>
[None, 2, None, 4, None]

In [6]:
l=[1,2,3,4,5]
def sqr_root(n):
    return(n**0.5)
result=filter(sqr_root,l)
print(result)
print(list(result))

<filter object at 0x000002073508D450>
[1, 2, 3, 4, 5]

# reduce()

In [9]:
import functools
l=[1,2,3,4,5]
def add_all(x,y): 
    return (x+y)
result=functools.reduce(add_all,l)
print(result)

15